{%extends 'all_gallery/base.html'%}
{% block content %}
<h1>
  <center>Instagram Clone App</center>
</h1>
<br><br>
<div class="container" style="background-color:pink">
  <div class="panel-heading">
    <button class="btn btn-danger">followers</button>
    <button class="btn btn-danger">following</button>
    {% for pic in profile %}
    <div class="row">
      <div class="col-md-9">
        <strong>{{pic.user_name}}</strong><br>
        <img src="{{pic.prof_pic.url}}" class="img-responsive" alt="Image" width=200 height=200 class="avatar">

        <p><strong>{{pic.bio}}</strong><br></p>

        {% endfor %}
        <div class="panel-heading">

          <div class="imgnew">
            {% for img in photo %}
            <div class="row">
              <div class="col-md-3">


                <a href="/photo/{{img.id}}"><img src="{{img.image.url}}" alt="Image"></a>



                {% endfor %}


              </div>

            </div>
          </div>

        </div>

        <!-- <p><a href="#" class="btn btn-primary ">Upload Image</a></p> -->
      </div>

    </div>
  </div>
  {%endblock%}