body{
  font-family: 'Playfair Display', serif;
}
h1
{
  color:palevioletred;
  font-family:serif;
}
/* img{
    border-radius: 50%;
} */
img{
    vertical-align: middle;
    width: 200px;
    height:200px;
    border-radius: 50%;
  }
.panel-body{
    background-color:pink;
  }
.imgnew img{ 
  width: 600px;
  height: 600px;
  border-radius: 0%;
  padding: 50px;
}
.panel panel-info{
  width: 5px;
}
p{
  font-size: 20px
}
button{
  float:right;
  margin-right: 5px;
  padding: 10px;
}