h1
{
  color: green;
  font-family:serif;
}
/* img{
    border-radius: 50%;
} */
img{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
.panel-body{
    background-color:pink;
  }
.imgnew img{ 
  width: 600px;
  height: 600px;
  border-radius: 0%;
}
.panel panel-info{
  width: 5px;
}